<ion-header>
    <ion-navbar>
        <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <div *ngIf="isLoggedIn else loggedInIf">
        <h2>Room name: {{room}}</h2>
        <ion-toggle checked="video" (tap)="videoChangedTap()" (ionChange)="videoChanged()"></ion-toggle>
        <div class="videoContainer">
            <!-- [ngStyle]="{'visibility': this.isLoggedIn ? 'visible': 'hidden'}"-->
            <video id="localVideo" style="height: 150px;"></video>
            <!--<meter id="localVolume" class="volume" min="-45" max="-20" high="-25" low="-40"></meter>-->
        </div>


        <div *ngIf="connEstablished">Connected</div>
        <div *ngIf="!connEstablished">Not connected</div>


        <button ion-button (tap)="startVideo()" *ngIf="webrtc &&  webrtc.roomName == room && !video && connEstablished">Start video</button>
        <button ion-button (tap)="stopVideo()" *ngIf="webrtc && webrtc.roomName == room && video && connEstablished">Stop video</button>
        <button ion-button (tap)="joinRoom()" *ngIf="webrtc && readyToCall && webrtc.roomName != room">Join room</button>
        <button ion-button (tap)="logOut()">Log out</button>

        <h2 *ngIf="webrtc && webrtc.roomName == room && !connEstablished">Waiting...</h2>
        <ion-spinner *ngIf="webrtc &&  webrtc.roomName == room && !connEstablished"></ion-spinner>
        <div class="videoContainer">
            <!-- [ngStyle]="{'visibility': this.isLoggedIn ? 'visible': 'hidden'}"-->
            <div id="remoteVideo" style="height: 150px;"></div>
            <!--<meter id="localVolume" class="volume" min="-45" max="-20" high="-25" low="-40"></meter>-->
        </div>
    </div>
    <ng-template #loggedInIf>
        <ion-list>
            <ion-item>
                <ion-label fixed>Room name</ion-label>
                <ion-input type="text" value="" placeholder="enter name here" [(ngModel)]="room"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label fixed>Auto join</ion-label>
                <ion-toggle checked="{{autoJoin}}" (ionChange)="autoJoin = !autoJoin"></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label fixed>Video</ion-label>
                <ion-toggle checked="{{video}}" (ionChange)="video = !video"></ion-toggle>
            </ion-item>
        </ion-list>
        <div padding>
            <button ion-button color="primary" block (tap)="signIn()">Enter room</button>
        </div>


    </ng-template>
</ion-content>